PORT=3000
HOST=db
USER=postgres
PASSWORD=postgres
DB=sci_db
DB_PORT=5432
DIALECT=postgres
JWT_SECRET=mvuVw56vPWDdTIdSinkU3IszRB8cj6Dz
# FRONT_END_URL=https://restaurant-fullstack-auth.vercel.app
SMTP_USER=
SMTP_PASSWORD=
BASE_URL=http://localhost:5000
EMAIL_FROM=admin@scitect.com
NODE_ENV=deployment